In [1]:
import pandas as pd
import matplotlib.pyplot as plt
db = pd.read_csv('season-1415.csv') # Assumes the file is in the same directory as the notebook

db.sample(10) #visualizza 10 righe a caso

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
173,11/01/15,Cagliari,Cesena,2,1,H,2,0,H,NaN,...,6,5,20,17,4,11,1.0,3,0,0
26,21/09/14,Roma,Cagliari,2,0,H,2,0,H,NaN,...,3,2,16,13,0,6,1.0,1,0,0
112,23/11/14,Cesena,Sampdoria,1,1,D,0,0,D,NaN,...,3,6,21,14,4,4,2.0,0,0,0
254,08/03/15,Parma,Atalanta,0,0,D,0,0,D,NaN,...,4,2,24,18,5,4,1.0,2,1,0
296,12/04/15,Napoli,Fiorentina,3,0,H,1,0,H,NaN,...,6,0,22,16,4,4,3.0,1,0,0
183,18/01/15,Chievo,Fiorentina,1,2,A,0,1,A,NaN,...,7,6,17,13,4,10,2.0,1,0,0
367,24/05/15,Parma,Verona,2,2,D,2,1,H,NaN,...,7,4,11,11,6,3,1.0,2,0,0
98,03/11/14,Cesena,Verona,1,1,D,1,0,H,NaN,...,4,2,14,19,4,4,1.0,4,0,0
359,18/05/15,Napoli,Cesena,3,2,H,2,2,D,NaN,...,4,4,9,17,6,1,2.0,2,0,0
291,11/04/15,Verona,Inter,0,3,A,0,1,A,NaN,...,5,2,6,13,4,5,2.0,4,0,0

In [2]:
#crezione lista squadre uniche

squadre = pd.concat([db['HomeTeam'],db['AwayTeam']]).unique()

#creao una lista per memorizzare le statistiche delle squadre
statistiche = []

#calcolo statistiche per ciascuna squadra 

for squadra in squadre:
    partite_casa = db[db['HomeTeam']== squadra]
    partite_trasferta =db[db['AwayTeam']== squadra]

    gol_segnati_casa = partite_casa['FTHG'].sum()
    gol_segnati_ospite = partite_trasferta['FTAG'].sum()
    gol_subiti_casa = partite_casa['FTAG'].sum()
    gol_subiti_ospite = partite_trasferta['FTHG'].sum()

    totale_gol = gol_segnati_casa + gol_segnati_ospite
    totale_gol_subiti = gol_subiti_casa + gol_subiti_ospite
    totale_partite = len(partite_casa) + len(partite_trasferta)

    media_gol_segnati = totale_gol/totale_partite
    media_gol_subiti = totale_gol_subiti/totale_partite

    #calcolo vittorie , pareggie e sconfitte

    vittorie = len(partite_casa[partite_casa['FTR']=='H'])+ len(partite_trasferta[partite_trasferta['FTR']=='A'])
    pareggi = len(partite_casa[partite_casa['FTR']=='D'])+ len(partite_trasferta[partite_trasferta['FTR']=='D'])
    sconfitte = totale_partite - vittorie - pareggi

    #differenza reti

    differenza_reti = totale_gol - totale_gol_subiti

    statistiche.append({
        'squadra':squadra,
        'totale_gol':totale_gol,
        'totale_gol_subiti':totale_gol_subiti,
        'media_gol_segnati':media_gol_segnati,
        'media_gol_subiti':media_gol_subiti,
        'totale_partite':totale_partite,
        'vittorie':vittorie,
        'pareggi':pareggi,
        'sconfitte':sconfitte,
        '% vittorie':vittorie/totale_partite*100,
        '% pareggi':pareggi/totale_partite*100,
        '% sconfitte':sconfitte/totale_partite*100,
        'differenza_reti':differenza_reti
        })
    #creazione dataframe statistiche
    df_statistiche = pd.DataFrame(statistiche)
    df_statistiche.set_index('squadra',inplace = True)

In [3]:
df_statistiche.sort_values('squadra',ascending =True) #ordinamento squadre in ordine alfabetico

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti
squadra,,,,,,,,,,,,
Atalanta,38,57,1.000000,1.500000,38,7,16,15,18.421053,42.105263,39.473684,-19
Cagliari,48,68,1.263158,1.789474,38,8,10,20,21.052632,26.315789,52.631579,-20
Cesena,36,73,0.947368,1.921053,38,4,12,22,10.526316,31.578947,57.894737,-37
Chievo,28,41,0.736842,1.078947,38,10,13,15,26.315789,34.210526,39.473684,-13
Empoli,46,52,1.210526,1.368421,38,8,18,12,21.052632,47.368421,31.578947,-6
Fiorentina,61,46,1.605263,1.210526,38,18,10,10,47.368421,26.315789,26.315789,15
Genoa,62,47,1.631579,1.236842,38,16,11,11,42.105263,28.947368,28.947368,15
Inter,59,48,1.552632,1.263158,38,14,13,11,36.842105,34.210526,28.947368,11
Juventus,72,24,1.894737,0.631579,38,26,9,3,68.421053,23.684211,7.894737,48
Lazio,71,38,1.868421,1.000000,38,21,6,11,55.263158,15.789474,28.947368,33
Milan,56,50,1.473684,1.315789,38,13,13,12,34.210526,34.210526,31.578947,6
Napoli,70,54,1.842105,1.421053,38,18,9,11,47.368421,23.684211,28.947368,16
Palermo,53,55,1.394737,1.447368,38,12,13,13,31.578947,34.210526,34.210526,-2
Parma,33,75,0.868421,1.973684,38,6,8,24,15.789474,21.052632,63.157895,-42
Roma,54,31,1.421053,0.815789,38,19,13,6,50.000000,34.210526,15.789474,23
Sampdoria,48,42,1.263158,1.105263,38,13,17,8,34.210526,44.736842,21.052632,6
Sassuolo,49,57,1.289474,1.500000,38,12,13,13,31.578947,34.210526,34.210526,-8
Torino,48,45,1.263158,1.184211,38,14,12,12,36.842105,31.578947,31.578947,3
Udinese,43,56,1.131579,1.473684,38,10,11,17,26.315789,28.947368,44.736842,-13
Verona,49,65,1.289474,1.710526,38,11,13,14,28.947368,34.210526,36.842105,-16

In [4]:
#aggiunta colonna punti totalizzati : vittoria 3 punti, pareggio 1 punto, sconfitta 0 punti
df_statistiche['punti'] = df_statistiche['vittorie']*3 + df_statistiche['pareggi']*1 + df_statistiche['sconfitte']*0
df_statistiche.sort_values('punti',ascending = False,inplace = True) #ordinamento squadre in base ai punti totalizzati
df_statistiche

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti,punti
squadra,,,,,,,,,,,,,
Juventus,72,24,1.894737,0.631579,38,26,9,3,68.421053,23.684211,7.894737,48,87
Roma,54,31,1.421053,0.815789,38,19,13,6,50.000000,34.210526,15.789474,23,70
Lazio,71,38,1.868421,1.000000,38,21,6,11,55.263158,15.789474,28.947368,33,69
Fiorentina,61,46,1.605263,1.210526,38,18,10,10,47.368421,26.315789,26.315789,15,64
Napoli,70,54,1.842105,1.421053,38,18,9,11,47.368421,23.684211,28.947368,16,63
Genoa,62,47,1.631579,1.236842,38,16,11,11,42.105263,28.947368,28.947368,15,59
Sampdoria,48,42,1.263158,1.105263,38,13,17,8,34.210526,44.736842,21.052632,6,56
Inter,59,48,1.552632,1.263158,38,14,13,11,36.842105,34.210526,28.947368,11,55
Torino,48,45,1.263158,1.184211,38,14,12,12,36.842105,31.578947,31.578947,3,54
Milan,56,50,1.473684,1.315789,38,13,13,12,34.210526,34.210526,31.578947,6,52
Palermo,53,55,1.394737,1.447368,38,12,13,13,31.578947,34.210526,34.210526,-2,49
Sassuolo,49,57,1.289474,1.500000,38,12,13,13,31.578947,34.210526,34.210526,-8,49
Verona,49,65,1.289474,1.710526,38,11,13,14,28.947368,34.210526,36.842105,-16,46
Chievo,28,41,0.736842,1.078947,38,10,13,15,26.315789,34.210526,39.473684,-13,43
Empoli,46,52,1.210526,1.368421,38,8,18,12,21.052632,47.368421,31.578947,-6,42
Udinese,43,56,1.131579,1.473684,38,10,11,17,26.315789,28.947368,44.736842,-13,41
Atalanta,38,57,1.000000,1.500000,38,7,16,15,18.421053,42.105263,39.473684,-19,37
Cagliari,48,68,1.263158,1.789474,38,8,10,20,21.052632,26.315789,52.631579,-20,34
Parma,33,75,0.868421,1.973684,38,6,8,24,15.789474,21.052632,63.157895,-42,26
Cesena,36,73,0.947368,1.921053,38,4,12,22,10.526316,31.578947,57.894737,-37,24

In [5]:
#aggiungo la colonna anno al dataframe
df_statistiche['anno'] = 2015
df_statistiche

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti,punti,anno
squadra,,,,,,,,,,,,,,
Juventus,72,24,1.894737,0.631579,38,26,9,3,68.421053,23.684211,7.894737,48,87,2015
Roma,54,31,1.421053,0.815789,38,19,13,6,50.000000,34.210526,15.789474,23,70,2015
Lazio,71,38,1.868421,1.000000,38,21,6,11,55.263158,15.789474,28.947368,33,69,2015
Fiorentina,61,46,1.605263,1.210526,38,18,10,10,47.368421,26.315789,26.315789,15,64,2015
Napoli,70,54,1.842105,1.421053,38,18,9,11,47.368421,23.684211,28.947368,16,63,2015
Genoa,62,47,1.631579,1.236842,38,16,11,11,42.105263,28.947368,28.947368,15,59,2015
Sampdoria,48,42,1.263158,1.105263,38,13,17,8,34.210526,44.736842,21.052632,6,56,2015
Inter,59,48,1.552632,1.263158,38,14,13,11,36.842105,34.210526,28.947368,11,55,2015
Torino,48,45,1.263158,1.184211,38,14,12,12,36.842105,31.578947,31.578947,3,54,2015
Milan,56,50,1.473684,1.315789,38,13,13,12,34.210526,34.210526,31.578947,6,52,2015
Palermo,53,55,1.394737,1.447368,38,12,13,13,31.578947,34.210526,34.210526,-2,49,2015
Sassuolo,49,57,1.289474,1.500000,38,12,13,13,31.578947,34.210526,34.210526,-8,49,2015
Verona,49,65,1.289474,1.710526,38,11,13,14,28.947368,34.210526,36.842105,-16,46,2015
Chievo,28,41,0.736842,1.078947,38,10,13,15,26.315789,34.210526,39.473684,-13,43,2015
Empoli,46,52,1.210526,1.368421,38,8,18,12,21.052632,47.368421,31.578947,-6,42,2015
Udinese,43,56,1.131579,1.473684,38,10,11,17,26.315789,28.947368,44.736842,-13,41,2015
Atalanta,38,57,1.000000,1.500000,38,7,16,15,18.421053,42.105263,39.473684,-19,37,2015
Cagliari,48,68,1.263158,1.789474,38,8,10,20,21.052632,26.315789,52.631579,-20,34,2015
Parma,33,75,0.868421,1.973684,38,6,8,24,15.789474,21.052632,63.157895,-42,26,2015
Cesena,36,73,0.947368,1.921053,38,4,12,22,10.526316,31.578947,57.894737,-37,24,2015

In [6]:
#salviamo in csv il dataframe
df_statistiche.to_csv(r'C:\Users\Alessandro\Desktop\Progetto_epicod\Partite_serieA\SerieA1415\statistiche_SerieA1415.csv')