In [1]:
import pandas as pd
import matplotlib.pyplot as plt
db = pd.read_csv('season-2122.csv') # Assumes the file is in the same directory as the notebook

db.sample(10) #visualizza 10 righe a caso

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
345,01/05/22,Milan,Fiorentina,1,0,H,0,0,D,NaN,...,2,2,17,17,2,2,1,3,0,0
283,13/03/22,Torino,Inter,1,1,D,1,0,H,NaN,...,4,7,15,17,3,4,1,5,0,0
210,16/01/22,Roma,Cagliari,1,0,H,1,0,H,NaN,...,7,2,13,17,1,1,3,4,0,0
233,06/02/22,Juventus,Verona,2,0,H,1,0,H,NaN,...,8,1,11,11,6,5,1,1,0,0
47,23/09/21,Sampdoria,Napoli,0,4,A,0,2,A,NaN,...,5,9,10,7,5,5,2,1,0,0
185,22/12/21,Roma,Sampdoria,1,1,D,0,0,D,NaN,...,4,2,6,8,10,2,0,3,0,0
179,19/12/21,Milan,Napoli,0,1,A,0,1,A,NaN,...,2,2,14,18,5,5,0,2,0,0
152,04/12/21,Napoli,Atalanta,2,3,A,1,1,D,NaN,...,4,7,16,18,6,7,2,3,0,0
312,10/04/22,Roma,Salernitana,2,1,H,0,1,A,NaN,...,7,3,16,23,9,2,5,8,0,0
366,15/05/22,Milan,Atalanta,2,0,H,0,0,D,NaN,...,6,2,8,14,4,6,3,2,0,0

In [2]:
#crezione lista squadre uniche

squadre = pd.concat([db['HomeTeam'],db['AwayTeam']]).unique()

#creao una lista per memorizzare le statistiche delle squadre
statistiche = []

#calcolo statistiche per ciascuna squadra 

for squadra in squadre:
    partite_casa = db[db['HomeTeam']== squadra]
    partite_trasferta =db[db['AwayTeam']== squadra]

    gol_segnati_casa = partite_casa['FTHG'].sum()
    gol_segnati_ospite = partite_trasferta['FTAG'].sum()
    gol_subiti_casa = partite_casa['FTAG'].sum()
    gol_subiti_ospite = partite_trasferta['FTHG'].sum()

    totale_gol = gol_segnati_casa + gol_segnati_ospite
    totale_gol_subiti = gol_subiti_casa + gol_subiti_ospite
    totale_partite = len(partite_casa) + len(partite_trasferta)

    media_gol_segnati = totale_gol/totale_partite
    media_gol_subiti = totale_gol_subiti/totale_partite

    #calcolo vittorie , pareggie e sconfitte

    vittorie = len(partite_casa[partite_casa['FTR']=='H'])+ len(partite_trasferta[partite_trasferta['FTR']=='A'])
    pareggi = len(partite_casa[partite_casa['FTR']=='D'])+ len(partite_trasferta[partite_trasferta['FTR']=='D'])
    sconfitte = totale_partite - vittorie - pareggi

    #differenza reti

    differenza_reti = totale_gol - totale_gol_subiti

    statistiche.append({
        'squadra':squadra,
        'totale_gol':totale_gol,
        'totale_gol_subiti':totale_gol_subiti,
        'media_gol_segnati':media_gol_segnati,
        'media_gol_subiti':media_gol_subiti,
        'totale_partite':totale_partite,
        'vittorie':vittorie,
        'pareggi':pareggi,
        'sconfitte':sconfitte,
        '% vittorie':vittorie/totale_partite*100,
        '% pareggi':pareggi/totale_partite*100,
        '% sconfitte':sconfitte/totale_partite*100,
        'differenza_reti':differenza_reti
        })
    #creazione dataframe statistiche
    df_statistiche = pd.DataFrame(statistiche)
    df_statistiche.set_index('squadra',inplace = True)

In [3]:
df_statistiche.sort_values('squadra',ascending =True) #ordinamento squadre in ordine alfabetico

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti
squadra,,,,,,,,,,,,
Atalanta,65,48,1.710526,1.263158,38,16,11,11,42.105263,28.947368,28.947368,17
Bologna,44,55,1.157895,1.447368,38,12,10,16,31.578947,26.315789,42.105263,-11
Cagliari,34,68,0.894737,1.789474,38,6,12,20,15.789474,31.578947,52.631579,-34
Empoli,50,70,1.315789,1.842105,38,10,11,17,26.315789,28.947368,44.736842,-20
Fiorentina,59,51,1.552632,1.342105,38,19,5,14,50.000000,13.157895,36.842105,8
Genoa,27,60,0.710526,1.578947,38,4,16,18,10.526316,42.105263,47.368421,-33
Inter,84,32,2.210526,0.842105,38,25,9,4,65.789474,23.684211,10.526316,52
Juventus,57,37,1.500000,0.973684,38,20,10,8,52.631579,26.315789,21.052632,20
Lazio,77,58,2.026316,1.526316,38,18,10,10,47.368421,26.315789,26.315789,19
Milan,69,31,1.815789,0.815789,38,26,8,4,68.421053,21.052632,10.526316,38
Napoli,74,31,1.947368,0.815789,38,24,7,7,63.157895,18.421053,18.421053,43
Roma,59,43,1.552632,1.131579,38,18,9,11,47.368421,23.684211,28.947368,16
Salernitana,33,78,0.868421,2.052632,38,7,10,21,18.421053,26.315789,55.263158,-45
Sampdoria,46,63,1.210526,1.657895,38,10,6,22,26.315789,15.789474,57.894737,-17
Sassuolo,64,66,1.684211,1.736842,38,13,11,14,34.210526,28.947368,36.842105,-2
Spezia,41,71,1.078947,1.868421,38,10,6,22,26.315789,15.789474,57.894737,-30
Torino,46,41,1.210526,1.078947,38,13,11,14,34.210526,28.947368,36.842105,5
Udinese,61,58,1.605263,1.526316,38,11,14,13,28.947368,36.842105,34.210526,3
Venezia,34,69,0.894737,1.815789,38,6,9,23,15.789474,23.684211,60.526316,-35
Verona,65,59,1.710526,1.552632,38,14,11,13,36.842105,28.947368,34.210526,6

In [4]:
#aggiunta colonna punti totalizzati : vittoria 3 punti, pareggio 1 punto, sconfitta 0 punti
df_statistiche['punti'] = df_statistiche['vittorie']*3 + df_statistiche['pareggi']*1 + df_statistiche['sconfitte']*0
df_statistiche.sort_values('punti',ascending = False,inplace = True) #ordinamento squadre in base ai punti totalizzati
df_statistiche

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti,punti
squadra,,,,,,,,,,,,,
Milan,69,31,1.815789,0.815789,38,26,8,4,68.421053,21.052632,10.526316,38,86
Inter,84,32,2.210526,0.842105,38,25,9,4,65.789474,23.684211,10.526316,52,84
Napoli,74,31,1.947368,0.815789,38,24,7,7,63.157895,18.421053,18.421053,43,79
Juventus,57,37,1.500000,0.973684,38,20,10,8,52.631579,26.315789,21.052632,20,70
Lazio,77,58,2.026316,1.526316,38,18,10,10,47.368421,26.315789,26.315789,19,64
Roma,59,43,1.552632,1.131579,38,18,9,11,47.368421,23.684211,28.947368,16,63
Fiorentina,59,51,1.552632,1.342105,38,19,5,14,50.000000,13.157895,36.842105,8,62
Atalanta,65,48,1.710526,1.263158,38,16,11,11,42.105263,28.947368,28.947368,17,59
Verona,65,59,1.710526,1.552632,38,14,11,13,36.842105,28.947368,34.210526,6,53
Torino,46,41,1.210526,1.078947,38,13,11,14,34.210526,28.947368,36.842105,5,50
Sassuolo,64,66,1.684211,1.736842,38,13,11,14,34.210526,28.947368,36.842105,-2,50
Udinese,61,58,1.605263,1.526316,38,11,14,13,28.947368,36.842105,34.210526,3,47
Bologna,44,55,1.157895,1.447368,38,12,10,16,31.578947,26.315789,42.105263,-11,46
Empoli,50,70,1.315789,1.842105,38,10,11,17,26.315789,28.947368,44.736842,-20,41
Spezia,41,71,1.078947,1.868421,38,10,6,22,26.315789,15.789474,57.894737,-30,36
Sampdoria,46,63,1.210526,1.657895,38,10,6,22,26.315789,15.789474,57.894737,-17,36
Salernitana,33,78,0.868421,2.052632,38,7,10,21,18.421053,26.315789,55.263158,-45,31
Cagliari,34,68,0.894737,1.789474,38,6,12,20,15.789474,31.578947,52.631579,-34,30
Genoa,27,60,0.710526,1.578947,38,4,16,18,10.526316,42.105263,47.368421,-33,28
Venezia,34,69,0.894737,1.815789,38,6,9,23,15.789474,23.684211,60.526316,-35,27

In [5]:
#aggiungo la colonna anno al dataframe
df_statistiche['anno'] = 2022
df_statistiche

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti,punti,anno
squadra,,,,,,,,,,,,,,
Milan,69,31,1.815789,0.815789,38,26,8,4,68.421053,21.052632,10.526316,38,86,2022
Inter,84,32,2.210526,0.842105,38,25,9,4,65.789474,23.684211,10.526316,52,84,2022
Napoli,74,31,1.947368,0.815789,38,24,7,7,63.157895,18.421053,18.421053,43,79,2022
Juventus,57,37,1.500000,0.973684,38,20,10,8,52.631579,26.315789,21.052632,20,70,2022
Lazio,77,58,2.026316,1.526316,38,18,10,10,47.368421,26.315789,26.315789,19,64,2022
Roma,59,43,1.552632,1.131579,38,18,9,11,47.368421,23.684211,28.947368,16,63,2022
Fiorentina,59,51,1.552632,1.342105,38,19,5,14,50.000000,13.157895,36.842105,8,62,2022
Atalanta,65,48,1.710526,1.263158,38,16,11,11,42.105263,28.947368,28.947368,17,59,2022
Verona,65,59,1.710526,1.552632,38,14,11,13,36.842105,28.947368,34.210526,6,53,2022
Torino,46,41,1.210526,1.078947,38,13,11,14,34.210526,28.947368,36.842105,5,50,2022
Sassuolo,64,66,1.684211,1.736842,38,13,11,14,34.210526,28.947368,36.842105,-2,50,2022
Udinese,61,58,1.605263,1.526316,38,11,14,13,28.947368,36.842105,34.210526,3,47,2022
Bologna,44,55,1.157895,1.447368,38,12,10,16,31.578947,26.315789,42.105263,-11,46,2022
Empoli,50,70,1.315789,1.842105,38,10,11,17,26.315789,28.947368,44.736842,-20,41,2022
Spezia,41,71,1.078947,1.868421,38,10,6,22,26.315789,15.789474,57.894737,-30,36,2022
Sampdoria,46,63,1.210526,1.657895,38,10,6,22,26.315789,15.789474,57.894737,-17,36,2022
Salernitana,33,78,0.868421,2.052632,38,7,10,21,18.421053,26.315789,55.263158,-45,31,2022
Cagliari,34,68,0.894737,1.789474,38,6,12,20,15.789474,31.578947,52.631579,-34,30,2022
Genoa,27,60,0.710526,1.578947,38,4,16,18,10.526316,42.105263,47.368421,-33,28,2022
Venezia,34,69,0.894737,1.815789,38,6,9,23,15.789474,23.684211,60.526316,-35,27,2022

In [6]:
#salviamo in csv il dataframe
df_statistiche.to_csv(r'C:\Users\Alessandro\Desktop\Progetto_epicod\Partite_serieA\SerieA2122\statistiche_SerieA2122.csv')