In [1]:
import pandas as pd
import matplotlib.pyplot as plt
db = pd.read_csv('season-1617.csv') # Assumes the file is in the same directory as the notebook

db.sample(10) #visualizza 10 righe a caso

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
365,21/05/17,Lazio,Inter,1,3,A,1.0,2.0,A,NaN,...,1,3,18,14,6,6,2,2,2,0
313,15/04/17,Inter,Milan,2,2,D,2.0,0.0,H,NaN,...,4,6,11,10,2,8,3,2,0,0
16,28/08/16,Sampdoria,Atalanta,2,1,H,2.0,1.0,H,NaN,...,4,1,13,16,3,1,1,4,0,1
5,21/08/16,Empoli,Sampdoria,0,1,A,0.0,1.0,A,NaN,...,3,5,17,32,2,5,3,4,1,0
261,04/03/17,Roma,Napoli,1,2,A,0.0,1.0,A,NaN,...,4,4,11,12,6,6,3,2,0,0
280,18/03/17,Milan,Genoa,1,0,H,1.0,0.0,H,NaN,...,5,2,7,14,5,5,1,2,0,0
136,27/11/16,Roma,Pescara,3,2,H,2.0,0.0,H,NaN,...,7,7,20,21,8,7,3,3,0,0
191,15/01/17,Lazio,Atalanta,2,1,H,1.0,1.0,D,NaN,...,5,3,17,18,7,3,5,2,0,0
171,21/12/16,Inter,Lazio,3,0,H,0.0,0.0,D,NaN,...,6,4,15,11,6,3,2,2,0,0
266,05/03/17,Crotone,Sassuolo,0,0,D,0.0,0.0,D,NaN,...,1,1,15,11,8,9,3,1,0,0

In [2]:
#crezione lista squadre uniche

squadre = pd.concat([db['HomeTeam'],db['AwayTeam']]).unique()

#creao una lista per memorizzare le statistiche delle squadre
statistiche = []

#calcolo statistiche per ciascuna squadra 

for squadra in squadre:
    partite_casa = db[db['HomeTeam']== squadra]
    partite_trasferta =db[db['AwayTeam']== squadra]

    gol_segnati_casa = partite_casa['FTHG'].sum()
    gol_segnati_ospite = partite_trasferta['FTAG'].sum()
    gol_subiti_casa = partite_casa['FTAG'].sum()
    gol_subiti_ospite = partite_trasferta['FTHG'].sum()

    totale_gol = gol_segnati_casa + gol_segnati_ospite
    totale_gol_subiti = gol_subiti_casa + gol_subiti_ospite
    totale_partite = len(partite_casa) + len(partite_trasferta)

    media_gol_segnati = totale_gol/totale_partite
    media_gol_subiti = totale_gol_subiti/totale_partite

    #calcolo vittorie , pareggie e sconfitte

    vittorie = len(partite_casa[partite_casa['FTR']=='H'])+ len(partite_trasferta[partite_trasferta['FTR']=='A'])
    pareggi = len(partite_casa[partite_casa['FTR']=='D'])+ len(partite_trasferta[partite_trasferta['FTR']=='D'])
    sconfitte = totale_partite - vittorie - pareggi

    #differenza reti

    differenza_reti = totale_gol - totale_gol_subiti

    statistiche.append({
        'squadra':squadra,
        'totale_gol':totale_gol,
        'totale_gol_subiti':totale_gol_subiti,
        'media_gol_segnati':media_gol_segnati,
        'media_gol_subiti':media_gol_subiti,
        'totale_partite':totale_partite,
        'vittorie':vittorie,
        'pareggi':pareggi,
        'sconfitte':sconfitte,
        '% vittorie':vittorie/totale_partite*100,
        '% pareggi':pareggi/totale_partite*100,
        '% sconfitte':sconfitte/totale_partite*100,
        'differenza_reti':differenza_reti
        })
    #creazione dataframe statistiche
    df_statistiche = pd.DataFrame(statistiche)
    df_statistiche.set_index('squadra',inplace = True)

In [3]:
df_statistiche.sort_values('squadra',ascending =True) #ordinamento squadre in ordine alfabetico

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti
squadra,,,,,,,,,,,,
Atalanta,62,41,1.631579,1.078947,38,21,9,8,55.263158,23.684211,21.052632,21
Bologna,40,58,1.052632,1.526316,38,11,8,19,28.947368,21.052632,50.000000,-18
Cagliari,55,76,1.447368,2.000000,38,14,5,19,36.842105,13.157895,50.000000,-21
Chievo,43,61,1.131579,1.605263,38,12,7,19,31.578947,18.421053,50.000000,-18
Crotone,34,58,0.894737,1.526316,38,9,7,22,23.684211,18.421053,57.894737,-24
Empoli,29,61,0.763158,1.605263,38,8,8,22,21.052632,21.052632,57.894737,-32
Fiorentina,63,57,1.657895,1.500000,38,16,12,10,42.105263,31.578947,26.315789,6
Genoa,38,64,1.000000,1.684211,38,9,9,20,23.684211,23.684211,52.631579,-26
Inter,72,49,1.894737,1.289474,38,19,5,14,50.000000,13.157895,36.842105,23
Juventus,77,27,2.026316,0.710526,38,29,4,5,76.315789,10.526316,13.157895,50
Lazio,74,51,1.947368,1.342105,38,21,7,10,55.263158,18.421053,26.315789,23
Milan,57,45,1.500000,1.184211,38,18,9,11,47.368421,23.684211,28.947368,12
Napoli,94,39,2.473684,1.026316,38,26,8,4,68.421053,21.052632,10.526316,55
Palermo,33,77,0.868421,2.026316,38,6,8,24,15.789474,21.052632,63.157895,-44
Pescara,37,81,0.973684,2.131579,38,3,9,26,7.894737,23.684211,68.421053,-44
Roma,90,38,2.368421,1.000000,38,28,3,7,73.684211,7.894737,18.421053,52
Sampdoria,49,55,1.289474,1.447368,38,12,12,14,31.578947,31.578947,36.842105,-6
Sassuolo,58,63,1.526316,1.657895,38,13,7,18,34.210526,18.421053,47.368421,-5
Torino,71,66,1.868421,1.736842,38,13,14,11,34.210526,36.842105,28.947368,5
Udinese,47,56,1.236842,1.473684,38,12,9,17,31.578947,23.684211,44.736842,-9

In [4]:
#aggiunta colonna punti totalizzati : vittoria 3 punti, pareggio 1 punto, sconfitta 0 punti
df_statistiche['punti'] = df_statistiche['vittorie']*3 + df_statistiche['pareggi']*1 + df_statistiche['sconfitte']*0
df_statistiche.sort_values('punti',ascending = False,inplace = True) #ordinamento squadre in base ai punti totalizzati
df_statistiche

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti,punti
squadra,,,,,,,,,,,,,
Juventus,77,27,2.026316,0.710526,38,29,4,5,76.315789,10.526316,13.157895,50,91
Roma,90,38,2.368421,1.000000,38,28,3,7,73.684211,7.894737,18.421053,52,87
Napoli,94,39,2.473684,1.026316,38,26,8,4,68.421053,21.052632,10.526316,55,86
Atalanta,62,41,1.631579,1.078947,38,21,9,8,55.263158,23.684211,21.052632,21,72
Lazio,74,51,1.947368,1.342105,38,21,7,10,55.263158,18.421053,26.315789,23,70
Milan,57,45,1.500000,1.184211,38,18,9,11,47.368421,23.684211,28.947368,12,63
Inter,72,49,1.894737,1.289474,38,19,5,14,50.000000,13.157895,36.842105,23,62
Fiorentina,63,57,1.657895,1.500000,38,16,12,10,42.105263,31.578947,26.315789,6,60
Torino,71,66,1.868421,1.736842,38,13,14,11,34.210526,36.842105,28.947368,5,53
Sampdoria,49,55,1.289474,1.447368,38,12,12,14,31.578947,31.578947,36.842105,-6,48
Cagliari,55,76,1.447368,2.000000,38,14,5,19,36.842105,13.157895,50.000000,-21,47
Sassuolo,58,63,1.526316,1.657895,38,13,7,18,34.210526,18.421053,47.368421,-5,46
Udinese,47,56,1.236842,1.473684,38,12,9,17,31.578947,23.684211,44.736842,-9,45
Chievo,43,61,1.131579,1.605263,38,12,7,19,31.578947,18.421053,50.000000,-18,43
Bologna,40,58,1.052632,1.526316,38,11,8,19,28.947368,21.052632,50.000000,-18,41
Genoa,38,64,1.000000,1.684211,38,9,9,20,23.684211,23.684211,52.631579,-26,36
Crotone,34,58,0.894737,1.526316,38,9,7,22,23.684211,18.421053,57.894737,-24,34
Empoli,29,61,0.763158,1.605263,38,8,8,22,21.052632,21.052632,57.894737,-32,32
Palermo,33,77,0.868421,2.026316,38,6,8,24,15.789474,21.052632,63.157895,-44,26
Pescara,37,81,0.973684,2.131579,38,3,9,26,7.894737,23.684211,68.421053,-44,18

In [6]:
#aggiungo la colonna anno al dataframe
df_statistiche['anno'] = 2017
df_statistiche

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti,punti,anno
squadra,,,,,,,,,,,,,,
Juventus,77,27,2.026316,0.710526,38,29,4,5,76.315789,10.526316,13.157895,50,91,2017
Roma,90,38,2.368421,1.000000,38,28,3,7,73.684211,7.894737,18.421053,52,87,2017
Napoli,94,39,2.473684,1.026316,38,26,8,4,68.421053,21.052632,10.526316,55,86,2017
Atalanta,62,41,1.631579,1.078947,38,21,9,8,55.263158,23.684211,21.052632,21,72,2017
Lazio,74,51,1.947368,1.342105,38,21,7,10,55.263158,18.421053,26.315789,23,70,2017
Milan,57,45,1.500000,1.184211,38,18,9,11,47.368421,23.684211,28.947368,12,63,2017
Inter,72,49,1.894737,1.289474,38,19,5,14,50.000000,13.157895,36.842105,23,62,2017
Fiorentina,63,57,1.657895,1.500000,38,16,12,10,42.105263,31.578947,26.315789,6,60,2017
Torino,71,66,1.868421,1.736842,38,13,14,11,34.210526,36.842105,28.947368,5,53,2017
Sampdoria,49,55,1.289474,1.447368,38,12,12,14,31.578947,31.578947,36.842105,-6,48,2017
Cagliari,55,76,1.447368,2.000000,38,14,5,19,36.842105,13.157895,50.000000,-21,47,2017
Sassuolo,58,63,1.526316,1.657895,38,13,7,18,34.210526,18.421053,47.368421,-5,46,2017
Udinese,47,56,1.236842,1.473684,38,12,9,17,31.578947,23.684211,44.736842,-9,45,2017
Chievo,43,61,1.131579,1.605263,38,12,7,19,31.578947,18.421053,50.000000,-18,43,2017
Bologna,40,58,1.052632,1.526316,38,11,8,19,28.947368,21.052632,50.000000,-18,41,2017
Genoa,38,64,1.000000,1.684211,38,9,9,20,23.684211,23.684211,52.631579,-26,36,2017
Crotone,34,58,0.894737,1.526316,38,9,7,22,23.684211,18.421053,57.894737,-24,34,2017
Empoli,29,61,0.763158,1.605263,38,8,8,22,21.052632,21.052632,57.894737,-32,32,2017
Palermo,33,77,0.868421,2.026316,38,6,8,24,15.789474,21.052632,63.157895,-44,26,2017
Pescara,37,81,0.973684,2.131579,38,3,9,26,7.894737,23.684211,68.421053,-44,18,2017

In [7]:
#salviamo in csv il dataframe
df_statistiche.to_csv(r'C:\Users\Alessandro\Desktop\Progetto_epicod\Partite_serieA\SerieA1617\statistiche_SerieA1617.csv')