In [1]:
import pandas as pd
import matplotlib.pyplot as plt
db = pd.read_csv('season-2324.csv') # Assumes the file is in the same directory as the notebook

db.sample(10) #visualizza 10 righe a caso

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
221,04/02/24,Torino,Salernitana,0,0,D,0,0,D,NaN,...,1,1,11,8,10,1,2,1,0,0
284,16/03/24,Frosinone,Lazio,2,3,A,1,1,D,NaN,...,5,7,10,15,9,4,1,3,0,0
253,25/02/24,Cagliari,Napoli,1,1,D,0,0,D,NaN,...,3,4,12,12,4,3,4,1,0,0
345,05/05/24,Milan,Genoa,3,3,D,1,1,D,NaN,...,7,2,8,10,7,1,1,1,0,0
259,28/02/24,Inter,Atalanta,4,0,H,2,0,H,NaN,...,7,1,10,15,4,1,2,6,0,0
137,03/12/23,Sassuolo,Roma,1,2,A,1,0,H,NaN,...,2,7,10,11,1,11,4,1,1,0
298,01/04/24,Inter,Empoli,2,0,H,1,0,H,NaN,...,7,3,14,16,8,6,0,2,0,0
250,24/02/24,Salernitana,Monza,0,2,A,0,0,D,NaN,...,3,7,6,13,7,11,2,2,0,0
99,30/10/23,Lazio,Fiorentina,1,0,H,0,0,D,NaN,...,4,5,12,17,0,4,3,3,0,0
363,19/05/24,Monza,Frosinone,0,1,A,0,1,A,NaN,...,2,5,14,13,3,4,1,2,0,0

In [2]:
#crezione lista squadre uniche

squadre = pd.concat([db['HomeTeam'],db['AwayTeam']]).unique()

#creao una lista per memorizzare le statistiche delle squadre
statistiche = []

#calcolo statistiche per ciascuna squadra 

for squadra in squadre:
    partite_casa = db[db['HomeTeam']== squadra]
    partite_trasferta =db[db['AwayTeam']== squadra]

    gol_segnati_casa = partite_casa['FTHG'].sum()
    gol_segnati_ospite = partite_trasferta['FTAG'].sum()
    gol_subiti_casa = partite_casa['FTAG'].sum()
    gol_subiti_ospite = partite_trasferta['FTHG'].sum()

    totale_gol = gol_segnati_casa + gol_segnati_ospite
    totale_gol_subiti = gol_subiti_casa + gol_subiti_ospite
    totale_partite = len(partite_casa) + len(partite_trasferta)

    media_gol_segnati = totale_gol/totale_partite
    media_gol_subiti = totale_gol_subiti/totale_partite

    #calcolo vittorie , pareggie e sconfitte

    vittorie = len(partite_casa[partite_casa['FTR']=='H'])+ len(partite_trasferta[partite_trasferta['FTR']=='A'])
    pareggi = len(partite_casa[partite_casa['FTR']=='D'])+ len(partite_trasferta[partite_trasferta['FTR']=='D'])
    sconfitte = totale_partite - vittorie - pareggi

    #differenza reti

    differenza_reti = totale_gol - totale_gol_subiti

    statistiche.append({
        'squadra':squadra,
        'totale_gol':totale_gol,
        'totale_gol_subiti':totale_gol_subiti,
        'media_gol_segnati':media_gol_segnati,
        'media_gol_subiti':media_gol_subiti,
        'totale_partite':totale_partite,
        'vittorie':vittorie,
        'pareggi':pareggi,
        'sconfitte':sconfitte,
        '% vittorie':vittorie/totale_partite*100,
        '% pareggi':pareggi/totale_partite*100,
        '% sconfitte':sconfitte/totale_partite*100,
        'differenza_reti':differenza_reti
        })
    #creazione dataframe statistiche
    df_statistiche = pd.DataFrame(statistiche)
    df_statistiche.set_index('squadra',inplace = True)

In [3]:
df_statistiche.sort_values('squadra',ascending =True) #ordinamento squadre in ordine alfabetico

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti
squadra,,,,,,,,,,,,
Atalanta,72,42,1.894737,1.105263,38,21,6,11,55.263158,15.789474,28.947368,30
Bologna,54,32,1.421053,0.842105,38,18,14,6,47.368421,36.842105,15.789474,22
Cagliari,42,68,1.105263,1.789474,38,8,12,18,21.052632,31.578947,47.368421,-26
Empoli,29,54,0.763158,1.421053,38,9,9,20,23.684211,23.684211,52.631579,-25
Fiorentina,61,46,1.605263,1.210526,38,17,9,12,44.736842,23.684211,31.578947,15
Frosinone,44,69,1.157895,1.815789,38,8,11,19,21.052632,28.947368,50.000000,-25
Genoa,45,45,1.184211,1.184211,38,12,13,13,31.578947,34.210526,34.210526,0
Inter,89,22,2.342105,0.578947,38,29,7,2,76.315789,18.421053,5.263158,67
Juventus,54,31,1.421053,0.815789,38,19,14,5,50.000000,36.842105,13.157895,23
Lazio,49,39,1.289474,1.026316,38,18,7,13,47.368421,18.421053,34.210526,10
Lecce,32,54,0.842105,1.421053,38,8,14,16,21.052632,36.842105,42.105263,-22
Milan,76,49,2.000000,1.289474,38,22,9,7,57.894737,23.684211,18.421053,27
Monza,39,51,1.026316,1.342105,38,11,12,15,28.947368,31.578947,39.473684,-12
Napoli,55,48,1.447368,1.263158,38,13,14,11,34.210526,36.842105,28.947368,7
Roma,65,46,1.710526,1.210526,38,18,9,11,47.368421,23.684211,28.947368,19
Salernitana,32,81,0.842105,2.131579,38,2,11,25,5.263158,28.947368,65.789474,-49
Sassuolo,43,75,1.131579,1.973684,38,7,9,22,18.421053,23.684211,57.894737,-32
Torino,36,36,0.947368,0.947368,38,13,14,11,34.210526,36.842105,28.947368,0
Udinese,37,53,0.973684,1.394737,38,6,19,13,15.789474,50.000000,34.210526,-16
Verona,38,51,1.000000,1.342105,38,9,11,18,23.684211,28.947368,47.368421,-13

In [4]:
#aggiunta colonna punti totalizzati : vittoria 3 punti, pareggio 1 punto, sconfitta 0 punti
df_statistiche['punti'] = df_statistiche['vittorie']*3 + df_statistiche['pareggi']*1 + df_statistiche['sconfitte']*0
df_statistiche.sort_values('punti',ascending = False,inplace = True) #ordinamento squadre in base ai punti totalizzati
df_statistiche

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti,punti
squadra,,,,,,,,,,,,,
Inter,89,22,2.342105,0.578947,38,29,7,2,76.315789,18.421053,5.263158,67,94
Milan,76,49,2.000000,1.289474,38,22,9,7,57.894737,23.684211,18.421053,27,75
Juventus,54,31,1.421053,0.815789,38,19,14,5,50.000000,36.842105,13.157895,23,71
Atalanta,72,42,1.894737,1.105263,38,21,6,11,55.263158,15.789474,28.947368,30,69
Bologna,54,32,1.421053,0.842105,38,18,14,6,47.368421,36.842105,15.789474,22,68
Roma,65,46,1.710526,1.210526,38,18,9,11,47.368421,23.684211,28.947368,19,63
Lazio,49,39,1.289474,1.026316,38,18,7,13,47.368421,18.421053,34.210526,10,61
Fiorentina,61,46,1.605263,1.210526,38,17,9,12,44.736842,23.684211,31.578947,15,60
Napoli,55,48,1.447368,1.263158,38,13,14,11,34.210526,36.842105,28.947368,7,53
Torino,36,36,0.947368,0.947368,38,13,14,11,34.210526,36.842105,28.947368,0,53
Genoa,45,45,1.184211,1.184211,38,12,13,13,31.578947,34.210526,34.210526,0,49
Monza,39,51,1.026316,1.342105,38,11,12,15,28.947368,31.578947,39.473684,-12,45
Lecce,32,54,0.842105,1.421053,38,8,14,16,21.052632,36.842105,42.105263,-22,38
Verona,38,51,1.000000,1.342105,38,9,11,18,23.684211,28.947368,47.368421,-13,38
Udinese,37,53,0.973684,1.394737,38,6,19,13,15.789474,50.000000,34.210526,-16,37
Empoli,29,54,0.763158,1.421053,38,9,9,20,23.684211,23.684211,52.631579,-25,36
Cagliari,42,68,1.105263,1.789474,38,8,12,18,21.052632,31.578947,47.368421,-26,36
Frosinone,44,69,1.157895,1.815789,38,8,11,19,21.052632,28.947368,50.000000,-25,35
Sassuolo,43,75,1.131579,1.973684,38,7,9,22,18.421053,23.684211,57.894737,-32,30
Salernitana,32,81,0.842105,2.131579,38,2,11,25,5.263158,28.947368,65.789474,-49,17

In [5]:
#aggiungo la colonna anno al dataframe
df_statistiche['anno'] = 2024
df_statistiche

,totale_gol,totale_gol_subiti,media_gol_segnati,media_gol_subiti,totale_partite,vittorie,pareggi,sconfitte,% vittorie,% pareggi,% sconfitte,differenza_reti,punti,anno
squadra,,,,,,,,,,,,,,
Inter,89,22,2.342105,0.578947,38,29,7,2,76.315789,18.421053,5.263158,67,94,2024
Milan,76,49,2.000000,1.289474,38,22,9,7,57.894737,23.684211,18.421053,27,75,2024
Juventus,54,31,1.421053,0.815789,38,19,14,5,50.000000,36.842105,13.157895,23,71,2024
Atalanta,72,42,1.894737,1.105263,38,21,6,11,55.263158,15.789474,28.947368,30,69,2024
Bologna,54,32,1.421053,0.842105,38,18,14,6,47.368421,36.842105,15.789474,22,68,2024
Roma,65,46,1.710526,1.210526,38,18,9,11,47.368421,23.684211,28.947368,19,63,2024
Lazio,49,39,1.289474,1.026316,38,18,7,13,47.368421,18.421053,34.210526,10,61,2024
Fiorentina,61,46,1.605263,1.210526,38,17,9,12,44.736842,23.684211,31.578947,15,60,2024
Napoli,55,48,1.447368,1.263158,38,13,14,11,34.210526,36.842105,28.947368,7,53,2024
Torino,36,36,0.947368,0.947368,38,13,14,11,34.210526,36.842105,28.947368,0,53,2024
Genoa,45,45,1.184211,1.184211,38,12,13,13,31.578947,34.210526,34.210526,0,49,2024
Monza,39,51,1.026316,1.342105,38,11,12,15,28.947368,31.578947,39.473684,-12,45,2024
Lecce,32,54,0.842105,1.421053,38,8,14,16,21.052632,36.842105,42.105263,-22,38,2024
Verona,38,51,1.000000,1.342105,38,9,11,18,23.684211,28.947368,47.368421,-13,38,2024
Udinese,37,53,0.973684,1.394737,38,6,19,13,15.789474,50.000000,34.210526,-16,37,2024
Empoli,29,54,0.763158,1.421053,38,9,9,20,23.684211,23.684211,52.631579,-25,36,2024
Cagliari,42,68,1.105263,1.789474,38,8,12,18,21.052632,31.578947,47.368421,-26,36,2024
Frosinone,44,69,1.157895,1.815789,38,8,11,19,21.052632,28.947368,50.000000,-25,35,2024
Sassuolo,43,75,1.131579,1.973684,38,7,9,22,18.421053,23.684211,57.894737,-32,30,2024
Salernitana,32,81,0.842105,2.131579,38,2,11,25,5.263158,28.947368,65.789474,-49,17,2024

In [6]:
#salviamo in csv il dataframe
df_statistiche.to_csv(r'C:\Users\Alessandro\Desktop\Progetto_epicod\Partite_serieA\SerieA2324\statistiche_SerieA2324.csv')